/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Apr 2021, 18:52:34
    Author     : csaba
*/

#pane0{
    -fx-background-image: url('/imgs/coffee.jpg');
    -fx-background-size: 100% 100%;
}
.button{
    -fx-font-weight: bold;
    -fx-font-style: italic;

}

#regname, #regmoney, #regcoffee, #regwater, #regmilk, #regsugar {
    -fx-border-color: grey;
    -fx-alignment: center;
}
#regname:hover, #regmoney:hover, #regcoffee:hover, #regwater:hover, #regmilk:hover, #regsugar:hover{
    -fx-border-color: lightcoral;
}
#regname:active, #regmoney:active, #regcoffee:active, #regwater:active, #regmilk:active, #regsugar:active{
    -fx-border-color: blue;
}
#regbtn, #delallbtn {
    -fx-background-color: lightgrey;
    -fx-border-color: lightgrey;
}
#regbtn:hover, #masterbtn:hover {
    -fx-border-color: lime;
}
#delallbtn:hover, #delselected:hover {
    -fx-border-color: red;
}
#inputdel {
    -fx-border-radius: 0%;
}
#inputdel:hover {
    -fx-border-color: orange;
}
#masterinp:hover {
    -fx-border-color: magenta;
}
#creatdeltab:focus ,#defaulttab:focus, #statisticstab:focus {
    -fx-border-color: lawngreen;
}
#creatdeltab:hover,#defaulttab:hover, #statisticstab:hover {
    -fx-border-color: lawngreen;
    -fx-border-bottom: none;
}

#espressoBtn, #cappucinoBtn, #latteBtn, #milkyCoffeeBtn {
    -fx-font-weight: italic;
}
#espressoBtn:hover, #cappucinoBtn:hover, #latteBtn:hover, #milkyCoffeeBtn:hover {
    -fx-border-color: lightcoral;
}
#startButton:hover, #saveMoney:hover, #saveCoffee:hover, #saveWater:hover, #saveMilk:hover, #saveSugar:hover {
    -fx-border-color: lime;
}
#resetButton:hover {
    -fx-border-color: orange;
}

#inputMoney, #inputCoffee, #inputWater, #inputMilk, #inputSugar{
    -fx-alignment: center;
}
#inputMoney:hover, #inputCoffee:hover, #inputWater:hover, #inputMilk:hover, #inputSugar:hover{
    -fx-border-color: lightcoral;
}
#summoneyId, #valueMoney, #coffeeId, #valueCoffee, #waterId, #valueWater, #milkId, #valueMilk, #sugarId, #valueSugar {
    -fx-font-weight: bold;
}

#graphId {
    -fx-background-color: transparent;

}

#chooseAutomata:hover {
    -fx-border-color: yellow;
}

#refreshstat:hover {
    -fx-border-color: cyan;
}

#automataname {
    -fx-text-align: center;
}
.chart-plot-background {
    -fx-background-color: white;
}
.chart-vertical-grid-lines {
    -fx-stroke: dimgray;
}
.chart-horizontal-grid-lines {
    -fx-stroke: dimgray;
}
.data0.chart-bar {
    -fx-background-color: green;
    -fx-border-color: black;
}
.data1.chart-bar {
    -fx-background-color: saddlebrown;
    -fx-border-color: black;
}
.data2.chart-bar {
    -fx-background-color: snow;
    -fx-border-color: black;
}
.data3.chart-bar {
    -fx-background-color: azure;
    -fx-border-color: black;
}
.data4.chart-bar {
    -fx-background-color: blue;
    -fx-border-color: black;
}
.chart-title {
    -fx-text-fill: black;
    -fx-font-style: bold;
    -fx-text-align: center;
}
.axis-label {
    -fx-text-fill: black;
    -fx-text-align: center;
    -fx-font-stlye: bold;
}
.chart-legend {
    -fx-background-color:  transparent;
}
.chart-legend-item{
    -fx-box-sizing: 0;
}
.axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: black;
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
#karbanOn:hover {
    -fx-border-color: lime;
}
#karbanOff:hover {
    -fx-border-color: red;
}
#karbanlabel {
    -fx-font-weight: bold;
}